// =============================================================================
//
//  Mixin Buttons
//
//  @version    0.0.1
//  @package    endles.scss
//  @author     Daniel Bergstrom <danjulf@gmail.com>
//
// =============================================================================

// -----------------------------------------------------------------------------
//  Add Button Style:
// -----------------------------------------------------------------------------

@mixin add-button-style($button-color: #ddd, $font-color: #222) {
    background-color: $button-color;
    color: $font-color;

    &:hover {

        @if lightness($button-color) > 90% {
            background-color: darken($button-color, 10%);
            color: $font-color;
        }
        @else {
            background-color: lighten($button-color, 10%);
            color: $font-color;
        }
    }

    &:active,
    &:focus,
    &.is-active {

    }

}
