// =============================================================================
//
//  layout
//  ===========
//
//  @version    0.0.1
//  @author     Daniel Bergstrom <danjulf@gmail.com>
//
// =============================================================================

$_nav-width: 250px;

html,
body {
    height: 100%;
}

body {
    min-height: 100%;

    @include transition(margin .5s ease);
}

// -----------------------------------------------------------------------------
//  Header:
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//  Sidebar:
// -----------------------------------------------------------------------------

// Search:
.search {
    background-color: $gray-lighter;
    padding: $base-padding;
    position: relative;

    input[type="text"] {
        background-color: $gray-lighter;
        border-color: transparent;
        color: $gray;
        font-weight: bold;

        @include placeholder {
            color: $gray-light;
            font-weight: normal;
        }
    }

    .icon-search {
        color: black;
        font-size: 2em;
        position: absolute;
        right: 15px;
        top: 18px;
        color: $gray-light;
    }
}

#search {
    width: 100%;


}

#searchResult {
    @include transition(height .4s ease);

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: $gray-lighter;

        @include box-sizing(border-box);
        @include get-font-size('small');

        > li {
            color: $gray;
            padding: $base-padding ($base-padding / 2);

            > a {
                display: block;
                font-weight: bold;
            }

            > span {
                font-style: italic;
            }
        }
    }
}

//Menu:

#navLink {
    background-color: $gray-dark;
    display: block;
    left: 100%;
    padding: $base-padding;
    position: absolute;
    font-size: 2em;
    line-height: 1em;
    cursor: pointer;
    z-index: 100;

    @include transition(background-color .2s ease, opacity .2s ease);

    &:hover {
        background-color: $gray;

        .open {
            color: $color-std-green;
        }

        .close {
            color: $color-std-red;
        }
    }

    span {
        vertical-align: middle;
        text-align: center;
        width: 20px;
        height: 20px;
        display: none;
        color: $white;
    }
}

.navigation {
    position: fixed;
    width: $_nav-width;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $gray-dark;
    z-index: 100;

    @include box-sizing(border-box);
    @include transition(left .5s ease);

    .inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: scroll;
    }
}

nav ul {
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, .1);

    @include transition( height 0 ease .5s, visibility 0 ease 2s, opacity 2s ease);

    li {
        display: block;

        &.active {
            > a > .menu-expand {
                @extend %icon-angle-down;

                background-color: rgba(255, 255, 255, .05)
            }
        }

        &.current {
            > a:after {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                content: '';
                @include triangle(22px, $white, 'left');
            }
        }
    }

    a {
        position: relative;
        color: $white;
        display: block;
        padding: $base-padding $base-padding $base-padding 54px;
        background-color: transparent;

        @include transition(background-color .2s ease);

        &:hover {
            color: $white;
            background-color: rgba(255, 255, 255, .1);
        }

        .menu-expand {
            @extend %icon-angle-right;

            position: absolute;
            display: block;
            line-height: inherit;
            left: 0;
            top: 0;
            bottom: 0;
            width: 44px;
            line-height: 44px;
            text-align: center;

            @include transition(background-color .2s ease);

            &:hover {
                background-color: rgba(255,255,255,.1);
            }
        }
    }
}

nav li.active > ul,
nav .level-1 {
    height: auto;
    visibility: visible;
    opacity: 1;

    @include transition(height 0 linear 0, visibility 0 linear 0, opacity .5s ease);
}

nav .level-1 {
    background-color: transparent;
}

// -----------------------------------------------------------------------------
//  Content:
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
//  Footer:
// -----------------------------------------------------------------------------
