// =============================================================================
//
//  layout
//  ===========
//
//  @version    0.0.1
//  @author     Daniel Bergstrom <danjulf@gmail.com>
//
// =============================================================================

$_nav-width: 250px;

body {
    margin-left: $_nav-width;
}

// -----------------------------------------------------------------------------
//  Header:
// -----------------------------------------------------------------------------

//

// -----------------------------------------------------------------------------
//  Sidebar:
// -----------------------------------------------------------------------------

// Menu:
#navLink {
    display: none;
}

nav {
    left: 0;

}

// -----------------------------------------------------------------------------
//  Content:
// -----------------------------------------------------------------------------

//

// -----------------------------------------------------------------------------
//  Footer:
// -----------------------------------------------------------------------------