// =============================================================================
//
//  layout
//  ===========
//
//  @version    0.0.1
//  @author     Daniel Bergstrom <danjulf@gmail.com>
//
// =============================================================================

$_nav-width: 250px;

// -----------------------------------------------------------------------------
//  Body states:
// -----------------------------------------------------------------------------

body[state="menu"] {
    margin-left: $_nav-width;
    margin-right: -$_nav-width;
    overflow: hidden;
    position: relative;
    z-index: 1;

    // Overlay:
    &:after {
        background-color: rgba(255, 255, 255, .5);
        bottom: 0;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
    }

    #menu { left: 0; }

    #navLink .open { display: none; }
    #navLink .close { display: block; }
}

// -----------------------------------------------------------------------------
//  Header:
// -----------------------------------------------------------------------------

//

// -----------------------------------------------------------------------------
//  Sidebar:
// -----------------------------------------------------------------------------

//Menu:
#navLink .open { display: block; }

#menu {
    left: -$_nav-width;
}

// -----------------------------------------------------------------------------
//  Content:
// -----------------------------------------------------------------------------

//

// -----------------------------------------------------------------------------
//  Footer:
// -----------------------------------------------------------------------------